@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/OpenSans-Light-webfont.woff") format("woff"),
  url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"),
  url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
}
body {
  background-color: #FFFFFF;
  color:#000000;
  margin:0 0 0 0;
  font-family:"Open Sans Light", sans-serif;
}

#header {
  background: #FFFFFF;
  color: #000000;
  border-top: solid 2px #FFF;
  border-bottom: solid 6px #5fc9e5;
  position: relative;
  text-align: center;

}

#header :link,
#header :visited {
  color: #FFFFFF;
}

#footer {
  position: relative;
  border-top: solid 6px #5fc9e5;
  padding: 20px 0;
  text-align:center;
}

#footer a {
  color: inherit;
}

#header .constrained,
#footer .constrained {
  overflow: hidden;
}

#header a,
#footer a {
  text-decoration: none;
}

#header::before,
#header::after,
#footer::before,
#footer::after {
  content: "";
  height: 6px;
  width: 33.33%;
  position: absolute;
  left: 33.33%;
  background: #b1cf37;
}

#header::before,
#header::after {
  bottom: -6px;
}

#footer::before,
#footer::after {
  top: -6px;
}

#header::after,
#footer::after {
  left: 66.66%;
  background: #f48123;
}
#map {
  width:100%;
  height:700px;
}

.centered {
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.centeredtable {
  margin-left:auto;
  margin-right:auto;
}

form {
  margin-left:50px;
}

.pledgebutton {
  background-color:#FF0085;
  text-decoration: none;
  padding:5px 10px 5px 10px;
  border: none;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  text-indent:0;
  color:#ffffff;
  font-size:30px;
  white-space: nowrap;
}

.footerlogo {
  margin-left:auto;
  margin-right:auto;
  display:inline-block;
}