{% extends "layout.html" %}

{% block header %}
<h1>Contact</h1>
{% endblock %}

{% block body %}
<div class="container">
  <p>Badge the World is a project run by DigitalMe.  If you would like to speak to us about making a pledge or how we might support you, please get in touch. Browse <a href="http://www.digitalme.co.uk/">our website</a> or contact us directly via the details below.</p>

  <p>
    <strong>DigitalMe</strong><br>
    Studio 23<br>
    30-34 Aire Street<br>
    Leeds<br>
    LS1 4HT<br>
    T: 0113 245 6445<br>
    E: <a mailto="hello@digitalme.co.uk">hello@digitalme.co.uk</a><br>
  </p>
</div>
{% endblock %}