{% extends "layout.html" %}

{% block header %}
<h1>Info</h1>
{% endblock %}

{% block body %}
<div class="container">
  <p>Badge the World is an initiative that began at MozFest 2013, which seeks to document the many innovative Open Badge projects that are underway throughout the world. We are also interested in creating a community and fostering discussion amongst those involved in Open Badge projects, no matter how large or small or what the project aims are.</p>

  <p>At MozFest 2013, we invited Mozillians from around the world to use pins and string to attach their Open Badge visions, plans and schemes to a paper map of the world.  Throughout the weekend we watched the ideas evolve, some small and beautifully formed like a Remix the Web badge for the iDEA award where the earner uses the Firefox plug in X-ray Goggles to re-envision a familiar web page. Others are large and ambitious like Badge Europe.  To date, we have received over a hundred responses from our paper map as well as the website.</p>

  <p>Our paper map was transformed into the Badge the World website in the 48 hours that made up the MozFest weekend of 2013. At MozFest 2014, we want to keep this momentum going. We felt inspired by the breadth and depth of interest in Open Badges that became apparent through our mapping exercise of 2013. We want to carry out the same exercise this year, only we are presenting a new and improved Badge the World website to use as our tool.</p>

  <p>We want the Badge the World website to function as a place where those working with Open Badges can learn about the work of others, discuss relevant issues with like-minded colleagues and find new collaborators to work with. We hope you’ll join us in taking the Open Badges movement forward and ensuring that it is a global movement.</p>

  <p>Share your experiences, tell us about your ambitions and <a href="/pledge">join the Open Badges community here</a>.</p>

  <p>Badge the World has been made possible by Nominet Trust, who support the <a href="http://www.digitalme.co.uk/badgetheuk">Badge the UK</a> project, Mozilla (especially the Open Badges team) and Badge Alliance.</p>
</div>
{% endblock %}