{% extends "layout.html" %}

{% block header %}
<h1>I will badge the world.</h1>
{% endblock %}

{% block body %}
<div class="container">
	<p>Pledge your support for Badge the World! Badge the World is the new social and technology movement to capture recognition for learning that happens anywhere.</p>
	<p><span class="required">*Required</span></p>

	<form action="/createPledge" method="post" accept-charset="utf-8">
		<input type="hidden" name="_csrf" value="{{_csrf}}" />
		<h2>5 ways to pledge to become a Badge partner:</h2>
		<ul>
			<li><input type="checkbox" name="createBadge" value="Create or Design Badges" id="createBadge" role="checkbox">Create or Design Badges</li>
			<li><input type="checkbox" name="issueBadge" value="Issue Badges" id="issueBadge" role="checkbox">Issue Badges</li>
			<li><input type="checkbox" name="displayBadge" value="Display Badges" id="displayBadge" role="checkbox">Display Badges</li>
			<li><input type="checkbox" name="researchBadge" value="Research Badges" id="researchBadge" role="checkbox">Research Badges</li>
			<li><input type="checkbox" name="joinBadge" value="Join the Badging Conversation" id="joinBadge" role="checkbox">Join the Badging Conversation</li>
		</ul>

		<h2>Tell us about your badging ideas... <span class="required">*</span></h2>
		<textarea name="idea" rows="8" cols="0" class="required" id="idea" dir="auto" aria-label="Tell us about your badging ideas...  " aria-required="true" required=""></textarea>

		<h2>How many people will your badging efforts impact? <span class"required">*</span></h2>
		<p class="sub">Be ambitious...</p>
		<input type="number" name="numberOfPeople" value="" class="required" id="numberOfPeople" dir="auto" aria-label="How many people will your badging efforts impact? Be ambitious... " aria-required="true" required="" title="">

		<h2>Location:</h2>
		<p class"sub">Where will this happen?</p>
		<input type="text" name="location" value="" id="location" dir="auto" aria-label="Location: Where will this happen? " aria-required="true" title="">

		<h2>Zip / Postcode</h2>
		<input type="text" name="postcode" value="" id="postcode" dir="auto" aria-label="Zip / Postcode " aria-required="true" title="">
		 
		<h2>Email address</h2>
		<input type="email" name="email" value="" id="email" dir="auto" aria-label="Email address " aria-required="true" title="">
		 
		<h2>Your name</h2>
		<input type="text" name="name" value="" id="name" dir="auto" aria-label="Your name " aria-required="true" title="">
		 
		<h2>Your twitter handle</h2>
		<input type="text" name="twitterHandle" value="" id="twitterHandle" dir="auto" aria-label="Your twitter handle " aria-required="true" title="">
		 
		<h2>Organization</h2>
		<input type="text" name="organisation" value="" id="organisation" dir="auto" aria-label="Organisation " aria-required="true" title="">

		<h2>Share...</h2>
		<ul>
			<li><input type="checkbox" name="shareCaseStyudy" value="Share case study" id="shareCaseStyudy" role="checkbox">Share case study</li>
			<li><input type="checkbox" name="shareOB" value="Share OB with your network" id="shareOB" role="checkbox">Share OB with your network</li>
		</ul>

		<p>
			<input type="checkbox" name="subscribe" value="Share case study" id="subscribe" role="checkbox">I would like to receive occasional emails from DigitalMe
		</p>

		<p>
			<input type="submit" name="submit" value="Submit" id="submit">
		</p>
	</form>
</div>
{% endblock %}