<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8 />
    <title>{% block title %} Badge the World {% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" href="{{ static('css/core.css') }}">
    {% endblock %}
  </head>
  <body>

  {% block headerWrapper %}
  <header id="header">
    {% block header %}
    {% endblock %}
  </header>
  {% endblock %}

  {% block body %}
  {% endblock %}

  {% block footerWrapper %}
  <footer id="footer">
    {% block footer %}
    <a href="http://openbadges.org/"><img class="footerlogo" src="{{ static('images/logo.png') }}"></a>
    <a href="http://www.digitalme.co.uk/"><img class="footerlogo" src="{{ static('images/digitalme.jpg') }}" height="100px"></a>
    {% endblock %}
  </footer>
  {% endblock %}

  {% block scripts %}
  <script src="{{ static('js/jquery.min.js') }}"></script>
  {% endblock %}
  </body>
</html>